
   body{
    background-color: rgb(166, 188, 212);
   }
   
   ul{
    display: flex;
    justify-content: space-around;
    padding: 6px;
    text-decoration: none;
  
  }

  .menu li {
    list-style-type: none ;       /* Suppression des puces */
}
.menu a {
  display:block;                /* Transformation en block */
  min-width: 120px;             /* Largeur minimale des liens */   
  
  margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
  padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
  text-align: center;           /* Centrage du texte */   
  background-color:rgb(42, 162, 192);    /* Couleur d'arrière-plan */
  color: #0c0303;                  /* Couleur du texte */
  text-decoration: none;        /* Suppression du soulignement */
  border: 1px solid #fff;       /* Ajout d'une bordure */
  border-radius: 4px;           /* Arrondis des bordures */
}

.menu a:hover {
  background-color: #d41323;
  color: #080803;
  border-color: #ffe843;
}
table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 2px;
  text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blueviolet;
}

div {
border: 5px solid blueviolet ;
text-align: center;
font-size: 35px;
}

h1{
  text-align: center;
  font-size: 50px;
}

h2{
  font-size: 30px;
  text-align: center;
}
h3{text-align: center;}

img {
justify-content: center;
margin: auto;
display: flex;
}
  
p{
  text-align: center;
  font-size: 20px;
}

table{
  
  text-align: center;
  margin: auto;
}

footer{
  text-align: center;
}

style img{
  width: 300px;
  height: ;
}